<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="assets/slider/dist/css/splide.min.css">
	<link rel="stylesheet" href="assets/slider/dist/css/themes/splide-skyblue.min.css">
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="shortcut icon" href="images/logo_favicon.png" type="image/png">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<title>Movie Heaven</title>
</head>

<body>
	<header>
	<input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
	<header>
		<nav class="menu">
			<a href="/index2" class="logo-link">
				<div class="logo">
					<img src="images/logo.png" alt="Logo image">
					<p>Movie Heaven</p>
				</div>
			</a>
			<div class="tools">
				<ul class="navigation">
					<li><a href="/movies">Movies</a></li>
					<li><a href="/tvseries">Tv series</a></li>
					<li><a href="/kids">Kids</a></li>
					<li><a href="/aboutus">About Us</a></li>
					<li><a href="/contact">Contact</a></li>
				</ul>
				<!-- <button onclick="searchToggle()" id="search-btn" class="button"><i class="fas fa-search"></i></button> -->
				<!-- <button class="button"><a href="login"><i class="fas fa-user-circle"></i></a></button> -->
				
			</div>
		</nav>
		<form action="" class="search" id="search">
			<div>
				<input type="text" placeholder="Please type to search">
				<button onclick="searchClose()" class="button"><i class="fas fa-times"></i></button>
			</div>
		</form>
	</header>


<main class="cookie">
	<h1>Cookies Policy</h1>
	<h2>1. Use of cookies and the purpose of this policy</h2>
	<h3>What are cookies?</h3>

	<p>Cookies are small text files that appear on your computer from web pages you visit. They are widely used to enable web pages to function or function more efficiently, as well as to provide web services and functionalities to users. In accordance with applicable law, cookies may be stored or accessed on your device only with your consent, except for cookies, which are absolutely necessary for the provision of services on this website. The purpose of this policy is to provide you with the necessary information about the cookies we use and how they store them on your device when you visit our website, so that you can choose whether you want to allow cookies to be stored on your device.</p>

	<h3>What types of cookies are there?</h3>

	<p>Cookies can be "permanent" or for a specific "session". A persistent cookie consists of a text file sent from a web server to a web browser, which is stored by the browser and will remain valid until its expiration date (unless it is deleted by the user before the expiration date). The session cookie, on the other hand, is automatically deleted at the end of the user session when the web browser is closed. The purpose of using the various cookies is described below in this policy.
	</p>

	<h3>What are web beacons?</h3>

	<p>In addition to cookies, HBO may use so-called web directories. A web directory is a type of electronic image with a size of only one pixel that is embedded in and downloaded with a website, application, or e-mail with HTML support. The web directory then provides information about your device, such as IP address, URL, the visit, the web browser and the cookies.</p>

	<h2>2. Cookies on our website (strictly mandatory cookies)</h2>

	<p>Some cookies on the website (so-called first-party cookies used by HBO) are required to perform the Services provided by HBO. If you disable such cookies by changing their settings in your browser (see section 6 below), you will not be able to use the Website and the HBO Services. The table below explains the cookies we use on our website and why we use them. Please note that the cookies described in this policy are used on all platforms on which the Services are provided.</p>

	<div class="flex-div">
		<p class="">Cookie </p>
		<p>Type</p>
		<p>Purpose</p>
		<p>Function</p>
		<p>Period of validity</p>
	</div>
	<div class="flex-div">
		<p>Banner cookie</p>
		<p>constant</p>
		<p>functionality</p>
		<p>This cookie stores whether the user has seen the banners on the website or not.</p>
		<p>maximum 1 week</p>
	</div>
	<div class="flex-div">
		<p>Cookie for user-selected language</p>
		<p>for a session</p>
		<p>functionality</p>
		<p>This is a temporary cookie that records user-selected languages.</p>
		<p>Until the end of the session / close the browser</p>
	</div>
	<div class="flex-div">
		<p>Consent cookie</p>
		<p>constant</p>
		<p>functionality</p>
		<p>This cookie stores information about the types of cookies accepted by the user</p>
		<p>1 year</p>
	</div>
	<div class="flex-div">
		<p>Portal status cookie</p>
		<p>for a session</p>
		<p>functionality</p>
		<p>This is a temporary cookie that stores information essential to logging in.</p>
		<p>Until the end of the session / close the browser</p>
	</div>
	<div class="flex-div">
		<p>Content play cookie</p>
		<p>for a session</p>
		<p>functionality</p>
		<p>This is a temporary cookie used by the website to remember what content the user wanted to play before registration.</p>
		<p>Maximum 2 minutes</p>
	</div>
	<div class="flex-div">
		<p>SnapEngage Cookie</p>
		<p>Constant</p>
		<p>functionality</p>
		<p>This cookie stores information that is essential to the chat function of the website.</p>
		<p>Maximum 1 year</p>
	</div>
	
	<h2>3. Бисквитки на трети страни не свързани с маркетинга (аналитични бисквитки)</h2>
	<p>Таблицата по-долу обяснява аналитичните бисквитки, които използваме, и защо ги използваме. Тези бисквитки се задават от трета страна, а не от нашата Уеб страница. Тези бисквитки се използват само с Ваше съгласие. Вие можете да промените използването на тези бисквитки в съответствие с раздели 5 или 6 по-долу. Таблицата по-долу обяснява използваните от нас бисквитки на трети страни, които не са свързани с маркетинг и защо ги използваме. Молим да обърнете внимание, че "бисквитките", описани в тази политика, се използват на всички платформи, на които се предоставят Услугите.</p>
	   
	<div class="flex-div2">
		<p>Cookie </p>
		<p>Type</p>
		<p>Purpose</p>
		<p class="flex4">Function</p>
		<p>Period of validity</p>
	</div>
	<div class="flex-div2">
		<p>Google</p>
		<p>Constant</p>
		<p>analysis / measurement</p>
		<p class="flex4">Google uses cookies to collect website statistics and track conversion rates.</p>
		<p>1-20 years</p>
	</div>   
	<div class="flex-div2">
		<p>Google Analytics</p>
		<p>Constant</p>
		<p>analysis / measurement</p>
		<p class="flex4">These cookies are used to collect information about how visitors use the website. The information collected is used to compile reports and to improve the page. Cookies collect information in an anonymous form, including (i) the number of visitors to the website, (ii) where the visitors to the page come from, and (iii) the sections of the page they have visited. Click here for an overview of Google's privacy policy.</p>
		<p>Maximum 2 years</p>
	</div>   
	<div class="flex-div2">
		<p>Google Optimizely</p>
		<p>Constant</p>
		<p>analysis / measurement</p>
		<p class="flex4">The website uses the Optimizely cookie to test and analyze how users interact with it. We do this so that we can make informed decisions about how to provide a better experience for consumers</p>
		<p>maximum 90 days.</p>
	</div>   
	<div class="flex-div2">
		<p>CrazyEgg</p>
		<p>Constant</p>
		<p>analysis / measurement</p>
		<p class="flex4">CrazyEgg uses certain cookies to identify visitors, assess website usage patterns and perform traffic analysis, and identify preferences.</p>
		<p>1-5 years</p>
	</div>   
	<div class="flex-div2">
		<p>Raygun</p>
		<p>Constant</p>
		<p>Presentation</p>
		<p class="flex4">Raygun uses cookies to ensure that the website is working properly and collects information about crashes and errors on the website, which helps to improve the site and HBO to develop its services.</p>
		<p>1-4 months</p>
	</div>   
	<h2> 4. Бисквитки на трети страни свързани с маркетинга (рекламни бисквитки)</h2>
	<p>Таблицата по-долу обяснява използваните от нас бисквитки на трети страни свързани с маркетинг и защо ги използваме. Тези бисквитки се задават от трета страна, а не от уеб страницата. Тези бисквитки се използват само с Ваше съгласие. Можете да промените използването на маркетинг бисквитки в съответствие с точка 5 и 6 по-долу. Деактивирането на такива "бисквитки", като ги блокирате (вижте точка 5 по-долу) или променяте настройките на "бисквитките" в браузъра си (вижте точка 6 по-долу) няма да повлияе на функционирането на уебсайта и услугите на HBO. Моля, обърнете внимание, че "бисквитките", описани в тази точка, се използват само в платформи, базирани на браузъри.</p>
</main>



	<footer>
		<div class="social">
			<i class="fab fa-facebook-f"></i>
			<i class="fab fa-twitter"></i>
			<i class="fab fa-youtube"></i>
			<i class="fab fa-instagram"></i>
		</div>
		<div class="useful_links">
			<a href="/questions">Often asked questions</a>
			<a href="/terms">Terms of use</a>
			<a href="/privacypolicy">Privacy Policy</a>
			<a href="/contact">Contact</a>
			<a href="/cookiepolicy">Cookies Policy</a>
			<a href="#">English <i class="fas fa-angle-down"></i></a>
		</div>
		<div class="rights">
			<p>© 2021 MovieHeaven, Inc. All Rights Reserved. This website could contain content that is not suitable for children.</p>
		</div>
	</footer>


	<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
	<script src="assets/slider/dist/js/splide.min.js"></script>
	<script src="https://kit.fontawesome.com/7615800276.js" crossorigin="anonymous"></script>
	<script src="js/script.js" type="text/javascript"></script>
</body>

</html>